  
body {
  margin-top: 10%;
  text-align: center;
  background-color: #3FAFD7;
}

.logo {
  font-size: 20px;
}

.logo:hover {
  color: black;
}

a:hover {
  background-color: transparent;
  color: black;
}

